.dashboard-error {
  p {
    color: red;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: clamp(320px, 95vw, 800px);
  gap: 1.5rem;
  padding: 3rem 0;

  h2 {
    color: var(--color-five);
    font-size: 1.2rem;
  }

  .dashboard-actions {
    h2 {
      padding-bottom: 1rem;
    }

    .dashboard-nav {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding-left: 1rem;

      a {
        text-decoration: none;
        color: var(--color-five);
        border: 1px solid var(--color-five);
        border-radius: 15px;
        padding: 0.5rem 1rem;
        width: fit-content;
      }
    }
  }

  .dashboard-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .stat-card {
      border: 1px solid var(--color-four);
      border-radius: 15px;
      padding: 1rem;
      width: 10rem;
      background-color: var(--color-four);
      color: var(--color-one);
      font-size: 0.9rem;

      h2 {
        color: var(--color-one);
        padding-bottom: 0.5rem;
      }
    }
  }
}
