.article-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 0;

  .article-detail-title {
    color: var(--color-five);
    font-family: var(--font-two);
    font-size: 1.5rem;
  }

  .article-detail-date {
    color: var(--color-four);
    font-size: 0.75rem;
  }

  .article-detail-tags {
    color: var(--color-four);
    list-style: none;

    .article-detail-tag {
      border: 1px solid var(--color-four);
      border-radius: 8px;
      padding: 0.5rem;
      width: fit-content;
      font-size: 0.75rem;
    }
  }

  .article-detail-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    img {
      width: 20rem;
      height: 20rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
    }
  }

  .article-detail-content {
    padding-bottom: 2rem;
  }

  .article-detail-comments {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .article-detail-comments-title {
      color: var(--color-three);
      font-size: 1.25rem;
    }

    .article-detail-comments-btn {
      background-color: var(--color-four);
      border: 1px solid var(--color-four);
      border-radius: 15px;
      padding: 1rem;
      color: var(--color-one);
      font-family: var(--font-two);
      width: fit-content;
    }
  }
}
