.article-detail {
  padding: 4rem 0;

  .article-title {
    color: var(--color-five);
  }

  .article-date {
    color: var(--color-four);
    font-size: 0.75rem;
  }

  .article-detail-tags {
    color: var(--color-four);
    list-style: none;

    .article-detail-tag {
      border: 1px solid var(--color-four);
      border-radius: 8px;
      padding: 0.5rem;
      width: fit-content;
      font-size: 0.75rem;
    }
  }

  .article-images {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    img {
      width: 20rem;
      height: 20rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
    }
  }
}
