.gallery-hub-page {
  width: clamp(320px, 95vw, 1000px);
  flex: 1;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gallery-hub-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    .gallery-hub-categorie-title {
      border: 1px solid var(--color-five);
      border-radius: 15px;
      padding: 1rem 2rem;
      color: var(--color-five);
      text-decoration: none;
      font-size: 1.2rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      font-family: var(--font-one);
    }

    .gallery-hub-categorie-title:hover {
      background-color: var(--color-five);
      color: var(--color-one);
    }
  }
}
