.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 3rem;

  a {
    text-decoration: none;
  }

  .image-card {
    img {
      width: 100%;
      height: 200px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
    }

    .image-card-tag {
      list-style: none;
    }
  }
}
