.articles-preview {
  padding: 3rem 0;

  .articles-preview-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;

    a {
      text-decoration: none;
    }

    .article-card {
      width: clamp(200px, 70vw, 500px);
      overflow: hidden;
      flex: 0 0 auto;
      cursor: pointer;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transition: all 0.35s ease;

      img {
        width: 100%;
        height: 200px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
      }

      h4 {
        font-family: var(--font-one);
        color: var(--color-three);
        padding: 1rem;
      }

      .article-card-excerpt {
        color: var(--color-two);
        font-size: 0.9rem;
        padding: 0 1rem 1rem 1rem;
      }

      .article-card-date,
      .article-card-tags {
        font-size: 0.75rem;
        color: var(--color-four);
      }

      .article-card-date {
        padding-left: 1rem;
      }

      .article-card-tags {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        justify-content: center;
        padding-bottom: 1rem;
      }

      .article-card-tag {
        border: 1px solid var(--color-four);
        border-radius: 8px;
        padding: 0.5rem;
      }
    }

    .article-card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    }
  }
}
