.presentation-page {
  padding: 4rem 0;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .presentation-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 3rem;

    .artist-avatar {
      height: 10rem;
      width: 10rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .artist-names {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .artist-name {
        color: var(--color-five);
      }

      h3 {
        color: var(--color-three);
      }
    }
  }

  .artist-bio {
    max-width: 50vw;
  }
}
