.presentation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(320px, 95vw, 1000px);
  padding: 4rem 0;
  gap: 4rem;

  @media (min-width: 720px) {
    flex-direction: row;
  }

  .artist-avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (min-width: 720px) {
      width: clamp(15rem, 30vw, 20vw);
      flex-shrink: 0;
      align-items: normal;
    }

    .artist-avatar {
      height: min(15rem, 40vw);
      width: 90vw;
      object-fit: cover;
      display: block;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

      @media (min-width: 720px) {
        width: clamp(15rem, 30vw, 20vw);
        height: 50vh;
      }
    }

    .artist-name {
      position: absolute;
      top: 7.5rem;
      color: var(--color-five);
      font-size: clamp(4rem, 5vw + 1rem, 5rem);
      font-family: var(--font-one);
      text-shadow:
        1px 1px 0 var(--color-one),
        -1px 1px 0 var(--color-one),
        1px -1px 0 var(--color-one),
        -1px -1px 0 var(--color-one);

      @media (min-width: 720px) {
        top: 0;
        left: 5rem;
        white-space: nowrap;
      }
    }
  }

  .artist-bio {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .artist-bio::first-letter {
    font-size: 3rem;
    color: var(--color-three);
    float: left;
    margin-right: 0.5rem;
    font-style: italic;
    text-shadow: 2px 3px 6px var(--color-four);
  }
}
