.contact-main {
  padding: 4rem 0;

  h1 {
    color: var(--color-five);
    padding-bottom: 3rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    label {
      display: flex;
      flex-direction: row;
      color: var(--color-three);
      padding-bottom: 0.5rem;
    }

    input {
      font-family: var(--font-two);
      border-radius: 15px;
      border: 1px solid var(--color-five);
      padding: 0.5rem 1rem;
      width: 20rem;
      color: var(--color-two);
    }

    textarea {
      border-radius: 15px;
      border: 1px solid var(--color-five);
      padding: 0.5rem 1rem;
      font-family: var(--font-two);
      color: var(--color-two);
      width: 94%;
    }

    button {
      color: var(--color-five);
      font-family: var(--font-one);
      border: 1px solid var(--color-five);
      border-radius: 15px;
      padding: 0.5rem 1rem;
      width: fit-content;
      background-color: var(--color-one);
      transition: all 0.35s ease;
    }

    button:hover {
      background-color: var(--color-five);
      color: var(--color-one);
    }
  }
}
