.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 clamp(280px, calc(50% - 20px), 400px);
  gap: clamp(5px, 1vw, 10px);
  margin: clamp(5px, 1vw, 10px) 0;
}
