.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  box-shadow: 0 -1.5rem 1.5rem rgba(0, 0, 0, 0.03);

  .footer-content-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      color: var(--color-five);
      font-family: var(--font-one);
      font-weight: 700;
    }
  }

  .footer-content-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    a {
      color: var(--color-three);
      font-size: 0.8rem;
      text-decoration: none;
    }
  }
}
