.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  box-shadow: 0 -1.5rem 1.5rem rgba(0, 0, 0, 0.03);

  .footer-content-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 0.9rem;
    }

    .footer-content-left-icons {
      display: flex;
      gap: 1rem;

      .icon-link {
        text-decoration: none;
        display: inline-block;
        position: relative;
        width: 2rem;
        height: 2rem;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: opacity 0.3s ease;
        }
      }

      .icon-hover {
        opacity: 0;
      }

      .icon-link:hover .icon-normal {
        opacity: 0;
      }

      .icon-link:hover .icon-hover {
        opacity: 1;
      }
    }
  }

  .footer-content-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    a {
      color: var(--color-four);
      font-size: 0.8rem;
      text-decoration: none;
    }

    a:hover {
      color: var(--color-three);
    }
  }
}
