.login-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0;

  input {
    font-family: var(--font-two);
    border-radius: 15px;
    border: 1px solid var(--color-five);
    padding: 0 1rem;
  }

  button {
    color: var(--color-five);
    font-family: var(--font-one);
    border: 1px solid var(--color-five);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: var(--color-one);
    transition: all 0.35s ease;
  }

  button:hover {
    background-color: var(--color-five);
    color: var(--color-one);
  }
}
