.home-page {
  a {
    text-decoration: none;
  }

  .hero-figure {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    .hero-image {
      max-width: 50vw;
      max-height: 70vh;
      object-fit: contain;
      margin: auto;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .hero-caption {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 0;

      .hero-title {
        font-family: var(--font-one);
        color: var(--color-three);
        padding-bottom: 1rem;
      }

      .hero-description {
        color: var(--color-two);
        font-size: 0.9rem;
      }

      .hero-link {
        color: var(--color-five);
        font-family: var(--font-one);
        border: 1px solid var(--color-five);
        border-radius: 15px;
        padding: 1rem 2rem;
        transition: all 0.35s ease;
      }

      .hero-link:hover {
        background-color: var(--color-five);
        color: var(--color-one);
      }
    }
  }

  .articles-preview {
    padding: 4rem 0;

    .articles-preview-title {
      color: var(--color-five);
    }

    .articles-preview-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      padding: 3rem 0;

      .article-card {
        width: clamp(200px, 70vw, 500px);
        overflow: hidden;
        flex: 0 0 auto;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

        img {
          width: 100%;
          height: 200px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          display: block;
        }

        h4 {
          font-family: var(--font-one);
          color: var(--color-three);
          padding: 1rem;
        }

        .article-card-excerpt {
          color: var(--color-two);
          font-size: 0.9rem;
          padding: 0 1rem 1rem 1rem;
        }

        .article-card-date,
        .article-card-tags {
          font-size: 0.75rem;
          color: var(--color-four);
        }

        .article-card-date {
          padding-left: 1rem;
        }

        .article-card-tags {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          list-style: none;
          justify-content: center;
          padding-bottom: 1rem;
        }

        .article-card-tag {
          border: 1px solid var(--color-four);
          border-radius: 8px;
          padding: 0.5rem;
        }
      }
    }
  }

  .artist-preview {
    /* Passer en 100vw */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* Fin du "trick" */
    display: flex;
    justify-content: center;
    padding: 4rem 0;

    .artist-preview-inner {
      width: clamp(320px, 90vw, 1200px);
    }

    .artist-preview-title {
      color: var(--color-five);
    }

    .artist-preview-main {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 3rem 0;

      .artist-preview-avatar {
        height: 10rem;
        width: 10rem;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }

      .artist-preview-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
      }

      .artist-preview-name {
        color: var(--color-three);
        letter-spacing: 0.15rem;
      }

      .artist-preview-bio {
        font-size: 0.9rem;
      }

      .artist-preview-cta {
        color: var(--color-five);
        font-family: var(--font-one);
        border: 1px solid var(--color-five);
        border-radius: 15px;
        padding: 1rem 2rem;
        transition: all 0.35s ease;
      }

      .artist-preview-cta:hover {
        background-color: var(--color-five);
        color: var(--color-one);
      }
    }
  }

  .contact-cta {
    /* Passer en 100vw */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* Fin du "trick" */
    display: flex;
    justify-content: center;
    background-color: var(--color-five);
    padding: 4rem 0;

    .contact-cta-inner {
      width: clamp(320px, 90vw, 1200px);
    }

    .contact-cta-title {
      color: var(--color-one);
    }

    .contact-cta-texte {
      padding: 3rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      color: var(--color-one);
    }

    .contact-cta-button {
      color: var(--color-one);
      font-family: var(--font-one);
      border: 1px solid var(--color-three);
      border-radius: 15px;
      padding: 1rem 2rem;
      background-color: var(--color-three);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transition: all 0.35s ease;
    }

    .contact-cta-button:hover {
      transform: scale(1.2);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    }
  }
}
