.home-page {
  a {
    text-decoration: none;
  }

  .hero-section {
    .hero-media {
      display: flex;
      justify-content: center;
      gap: 2rem;

      .hero-quote {
        display: none;

        @media (min-width: 860px) {
          display: flex;
          flex-direction: column;
          width: 40vw;
          font-family: var(--font-one);
          color: var(--color-five);
          font-size: clamp(2.5rem, 3vw + 1rem, 4rem);
          padding: 4rem 0;

          .hero-quote-accent {
            color: var(--color-three);
            font-size: clamp(3rem, 3vw + 1.5rem, 4.5rem);
          }
        }
      }

      .hero-figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        width: clamp(260px, 75vw, 800px);

        .hero-image {
          max-width: min(90vw, 800px);
          max-height: 70vh;
          object-fit: contain;
        }
      }
    }

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3rem;
      gap: 2rem;

      .hero-title {
        font-family: var(--font-one);
        font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
        color: var(--color-three);
      }

      .hero-description {
        color: var(--color-two);
        font-size: clamp(0.7rem, 1vw + 0.6rem, 0.9rem);
      }

      .hero-link {
        background-color: var(--color-five);
        color: var(--color-one);
        font-family: var(--font-one);
        border: 1px solid var(--color-five);
        border-radius: 15px;
        padding: 1rem 2rem;
        transition: all 0.35s ease;
        width: fit-content;
      }

      .hero-link:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .articles-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 0;

    @media (min-width: 720px) {
      gap: 2.5rem;
    }

    .articles-preview-title {
      color: var(--color-five);
      font-size: 2rem;
    }

    .articles-preview-grid {
      /* Passer en 100vw */
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      /* Fin du "trick" */
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x proximity;
      scroll-padding-left: 1rem;
      gap: 1rem;
      scrollbar-width: none;
      padding: 1.5rem 0 2.5rem 1rem;
      align-items: stretch;

      @media (min-width: 720px) {
        /* Annuler le trick */
        width: auto;
        position: static;
        left: auto;
        right: auto;
        margin-left: 0;
        margin-right: 0;

        /* Style pour desktop */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
      }

      .article-card {
        scroll-snap-align: start;
        width: clamp(200px, 85vw, 500px);
        overflow: hidden;
        flex: 0 0 auto;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: all 0.35s ease;

        @media (min-width: 720px) {
          width: clamp(200px, 95vw, 400px);
        }

        img {
          width: 100%;
          min-height: 200px;
          height: 200px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          display: block;
        }

        .article-card-info {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          padding: 1rem 0;
          flex: 1;
        }

        h4 {
          font-family: var(--font-one);
          font-size: clamp(0.8rem, 1vw + 0.8rem, 1.3rem);
          color: var(--color-three);
          padding: 0 1rem;
        }

        .article-card-excerpt {
          color: var(--color-two);
          font-size: clamp(0.7rem, 1vw + 0.6rem, 0.9rem);
          padding: 0 1rem;
        }

        .article-card-date,
        .article-card-tags {
          font-size: 0.75rem;
          color: var(--color-four);
        }

        .article-card-date {
          padding-left: 1rem;
          width: 100%;
        }

        .article-card-tags {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          list-style: none;
          justify-content: center;
          margin: 0 auto;
        }

        .article-card-tag {
          border: 1px solid var(--color-four);
          border-radius: 8px;
          padding: 0.5rem;
        }
      }

      .article-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
      }
    }

    .articles-preview-grid > *:last-child {
      padding-right: 1rem;
    }

    .articles-preview-link {
      color: var(--color-five);
      font-family: var(--font-one);
      border: 1px solid var(--color-five);
      border-radius: 15px;
      padding: 1rem 2rem;
      width: fit-content;
      transition: all 0.35s ease;
    }

    .articles-preview-link:hover {
      background-color: var(--color-five);
      color: var(--color-one);
    }
  }

  .articles-preview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      var(--color-five),
      transparent
    );
  }

  .contact-cta {
    /* Passer en 100vw */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* Fin du "trick" */
    display: flex;
    justify-content: center;
    background-color: var(--color-five);
    padding: 4rem 0;

    .contact-cta-inner {
      width: clamp(320px, 95vw, 1000px);
    }

    .contact-cta-title {
      color: var(--color-one);
    }

    .contact-cta-text {
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      color: var(--color-one);
    }

    .contact-cta-button {
      color: var(--color-one);
      font-family: var(--font-one);
      border: 1px solid var(--color-three);
      border-radius: 15px;
      padding: 1rem 2rem;
      background-color: var(--color-three);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transition: all 0.35s ease;
    }

    .contact-cta-button:hover {
      transform: scale(1.2);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    }
  }

  .artist-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
    width: clamp(320px, 95vw, 1000px);

    .artist-preview-title {
      color: var(--color-five);
    }

    .artist-preview-main {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 3rem 0;

      .artist-preview-avatar {
        height: 10rem;
        width: 10rem;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }

      .artist-preview-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
      }

      .artist-preview-name {
        color: var(--color-three);
        letter-spacing: 0.15rem;
        font-size: 2rem;
      }

      .artist-preview-bio {
        font-size: 0.9rem;
      }
    }

    .artist-preview-cta {
      color: var(--color-five);
      font-family: var(--font-one);
      border: 1px solid var(--color-five);
      border-radius: 15px;
      padding: 1rem 2rem;
      width: fit-content;
      transition: all 0.35s ease;
    }

    .artist-preview-cta:hover {
      background-color: var(--color-five);
      color: var(--color-one);
    }
  }
}
