.articles-preview {
  display: flex;
  flex-direction: column;
  padding-top: clamp(20px, 4vw, 40px);
  margin-bottom: clamp(40px, 8vw, 80px);
  /* height: calc(100vh - 60px); */
  h2 {
    margin: clamp(5px, 1vw, 10px) auto;
    padding-bottom: clamp(10px, 2vw, 20px);
  }
}

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(20px, 4vw, 40px);
}
