.login-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0;

  input {
    font-family: var(--font-two);
    border-radius: 15px;
    border: 1px solid var(--color-five);
    padding: 0 1rem;
  }

  button {
    color: var(--color-five);
    font-family: var(--font-one);
    border: 1px solid var(--color-five);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: var(--color-one);
    transition: all 0.35s ease;
  }

  button:hover {
    background-color: var(--color-five);
    color: var(--color-one);
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;

  input {
    font-family: var(--font-two);
    border-radius: 15px;
    border: 1px solid var(--color-five);
    padding: 0.5rem 1rem;
    width: 20rem;
  }

  button {
    color: var(--color-five);
    font-family: var(--font-one);
    border: 1px solid var(--color-five);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    width: fit-content;
    background-color: var(--color-one);
    transition: all 0.35s ease;
  }

  button:hover {
    background-color: var(--color-five);
    color: var(--color-one);
  }
}

.logsign-modal-content {
  padding: 1rem 0;

  p {
    font-family: var(--font-two);
    font-size: 0.9rem;
    color: var(--color-three);
  }

  .logsign-modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;

    button {
      color: var(--color-three);
      font-family: var(--font-one);
      border: 1px solid var(--color-three);
      border-radius: 15px;
      padding: 0.5rem 1rem;
      width: fit-content;
      background-color: var(--color-one);
      transition: all 0.35s ease;
    }

    button:hover {
      background-color: var(--color-three);
      color: var(--color-one);
    }
  }
}

.modal-dialog {
  h2 {
    font-family: var(--font-one);
    color: var(--color-five);
  }
}
